/* Cart Popup Styling */
.cart-popup {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100vh;
    background-color: #fff;
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 100;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.cart-popup.active {
    transform: translateX(0);
}

/* Close Button */
.cart-close-button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    align-self: flex-end;
}

/* Cart Title */
.cart-title {
    font-size: 1.5em;
    margin-bottom: 20px;
    font-weight: bold;
    color: #333;
}

/* Cart Items */
.cart-items {
    max-height: 70%;
    overflow-y: auto;
    flex-grow: 1;
    margin-bottom: 20px;
}

.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.cart-item-image {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 10px;
}

.cart-item-info {
    flex-grow: 1;
}

.item-name {
    font-size: 1em;
    color: #333;
    margin-bottom: 5px;
}

.item-price {
    font-size: 0.9em;
    color: #666;
}

/* Quantity Control */
.quantity-control {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.quantity-control button {
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 1em;
}

.quantity {
    margin: 0 10px;
}

/* Remove Item Button */
.remove-item {
    background: none;
    border: none;
    color: #f44336;
    cursor: pointer;
    padding: 5px;
    margin-top: 10px;
}

/* Cart Footer */
.cart-footer {
    position: sticky;
    border-top: 1px solid #eee;
    padding-top: 10px;
    
}

.total-price {
    font-size: 1.2em;
    margin-bottom: 20px;
    font-weight: bold;
    color: #333;
}

.checkout-button {
    width: 100%;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 1em;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.checkout-button:hover {
    background-color: #0056b3;
}
